# Type Of Data

In [4]:
a=10
float(a)

10.0

In [5]:
type(a)

int

In [7]:
b=10.0
int(b)

10

In [8]:
type(b)

float

str(1)
str(2.00)

In [11]:
str(2.00)

'2.0'

In [12]:
str(1)

'1'

# part 1 of lab (Expression and Variables)

In [13]:
# Try your first Python output

print('Hello, Python!')

Hello, Python!

In [14]:
import sys
print(sys.version)

3.8.5 (default, Sep  3 2020, 21:29:08) [MSC v.1916 64 bit (AMD64)]

In [15]:
# Practice on writing comments

print('Hello, Python!') # This line prints a string
# print('Hi')

Hello, Python!

In [16]:
# Print string as error message

frint("Hello, Python!")

NameError: name 'frint' is not defined

In [17]:
# Try to see build in error message

print("Hello, Python!)

SyntaxError: EOL while scanning string literal (<ipython-input-17-63a21a726720>, line 3)

In [18]:
# Print string and error to see the running order

print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed")

This will be printed

NameError: name 'frint' is not defined

In [19]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
print('Hello, World!')

Hello, World!

# Types Of Object In The Python

In [ ]:
# Integer

11

In [ ]:
#Float

2.00

In [ ]:
#String 

"Hello, Python 101!"

In [20]:
# Type of 11

type(11)

int

In [21]:
# Type of 2.00

type(2.00)

float

In [22]:
# Type of "Hello, Python 101!"

type("Hello, Python 101!")

str

In [ ]:
# Some Example Of The Integer

In [23]:
# Print the type of -1

type(-1)

int

In [24]:
# Print the type of 4

type(4)

int

In [25]:
# Print the type of 0

type(0)

int

In [ ]:
# Some Example Of The Float

In [26]:
# Print the type of 1.0

type(1.0) # Notice that 1 is an int, and 1.0 is a float

float

In [27]:
# Print the type of 0.5

type(0.5)

float

In [28]:
# Print the type of 0.56

type(0.56)

float

In [29]:
# System settings about float type
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

# Converting To One Type To Different Type Of Object

In [30]:
# Verify that this is an integer

type(2)

int

In [31]:
# Convert 2 to a float

float(2)

2.0

In [33]:
# Convert integer 2 to a float and check its type

type(float(2))

float

In [40]:
# Casting 1.1 to integer will result in loss of information

int(1.1)
type(int(1.1))

int

In [35]:
# Convert a string into an integer

int('1')

1

In [36]:
# Convert a string into an integer with error

int('12 ')

12

In [38]:
# Convert the string "1.2" into a float

float('1.2')
type(float('1.2'))

float

In [45]:
# Convert an integer to a string
a=1
a=str(1)
type(a)

str

In [46]:
# Convert a float to a string

str(1.2)

'1.2'

In [47]:
# Type of True

type(True)

bool

In [50]:
# Type of False

type(False)

bool

In [51]:
# Convert 1 to boolean

bool(1)

True

In [52]:
# Convert 0 to boolean

bool(0)

False

In [53]:
# Convert True to float

float(True)

1.0

In [54]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(6/2)

float

In [55]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(6//2)

int

In [56]:
# Addition operation expression

43 + 60 + 16 + 41

160

In [57]:
# Subtraction operation expression

50 - 60

-10

In [58]:
# Division operation expression

25 / 5

5.0

In [59]:
# Division operation expression

25 / 6

4.166666666666667

In [60]:
# Integer division operation expression


25 // 5

5

In [61]:
# Integer division operation expression

25 // 6

4

In [62]:
# Mathematical expression

(30 + 2) * 60

1920

In [63]:
# Store value into variable
x = 43 + 60 + 16 + 41
x

160

In [64]:
# Complicate expression

total_hours = (43 + 42 + 57) / 60  # Total hours in a single expression
total_hours

2.3666666666666667