# Tuples

In [1]:
# Create your first tuple

tuple1 = ("disco",10,1.2 )
print(tuple1)

('disco', 10, 1.2)

In [2]:
# Print the type of the tuple created

type(tuple1)

tuple

In [3]:
# Print the variable on each index

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [4]:
# Print the type of value on each index

print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [10]:
# Use negative index to get the value of the last element

print(tuple1[-1])
print(tuple1[-2])
print(tuple1[-3])

1.2
10
disco

# Concatenate Tuples

In [13]:
# Concatenate two tuples

tuple2 = tuple1 + ("hard rock", 10)
print(tuple2)

('disco', 10, 1.2, 'hard rock', 10)

In [14]:
tuple3 = tuple2 + ("the rock" , "jhon cena" , 2 )
print(tuple3)

('disco', 10, 1.2, 'hard rock', 10, 'the rock', 'jhon cena', 2)

# Slicing

In [15]:
# Slice from index 0 to index 2

tuple2[0:3]

('disco', 10, 1.2)

In [16]:
# Slice from index 3 to index 4

tuple2[3:5]

('hard rock', 10)

# length

In [17]:
# Get the length of tuple

len(tuple2)

5

In [18]:
len(tuple3)

8

# Sorting

In [20]:
# A sample tuple

Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)
Ratings

(0, 9, 6, 5, 10, 8, 9, 6, 2)

In [25]:
# Sort the tuple

RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

# Nested Tuple

In [26]:
# Create a nest tuple

NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

NestedT

(1, 2, ('pop', 'rock'), (3, 4), ('disco', (1, 2)))

In [27]:
# Print element on each index, including nest indexes

print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

In [28]:
# Print the first element in the second nested tuples

NestedT[2][1][0]

'r'

In [29]:
# Print the second element in the second nested tuples

NestedT[2][1][1]

'o'

In [30]:
# Print the first element in the second nested tuples

NestedT[4][1][0]

1

# Immutable Tuple

In [2]:
#Example that tuple are immutable
#immutable means =  unable to be changed.


Demo = ("atharv" , " Rohan" , "kunal" , 12 , 11 , 0)
print(Demo)

('atharv', ' Rohan', 'kunal', 12, 11, 0)

In [3]:
#Because it immutable it does not change
Demo[3]="rohit"

TypeError: 'tuple' object does not support item assignment

In [ ]:
#but we will change the list in the tuple

In [5]:
Demo11 = ("atharv" , " Rohan" , "kunal" , 12 , 11 ,[6, 5],["KO"])
print(Demo11)

('atharv', ' Rohan', 'kunal', 12, 11, [6, 5], ['KO'])

In [6]:
Demo11[5][0] = 4
print(Demo11)

('atharv', ' Rohan', 'kunal', 12, 11, [4, 5], ['KO'])

In [47]:
Demo11[6][0] = "OK"
print(Demo11)

('atharv', ' Rohan', 'kunal', 12, 11, [6, 5], ['OK'])